<html>
<head>
<title>MyCodeBlog</title>
<!-- css -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>

<body>


	<header>
		<!-- As a link -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">CodeBlogForUs</a>
		</nav>
	</header>

	<section>
		<div class="container" style="width: 60%; padding-bottom: 30px">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="background-color: white; padding-left: 0px">
					<li class="breadcrumb-item active" aria-current="page">Posts</li>
				</ol>
			</nav>

			<div class="card" style="margin-top: 20px;">
				<div class="card-body">This is some text within a card body.</div>
			</div>

		</div>

	</section>


</body>


</html>